################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExpenseControl.API/obj
/ExpenseControl.API/bin/Debug/net6.0
/ExpenseControl.Application/obj
/ExpenseControl.Application/bin/Debug/net6.0
/ExpenseControl.Domain/obj
/ExpenseControl.Domain/bin/Debug/net6.0
/ExpenseControl.Infra/obj
/ExpenseControl.Infra/bin/Debug/net6.0
/ExpenseControl.CrossCutting/obj
/ExpenseControl.CrossCutting/bin/Debug/net6.0
/ExpenseControl.Domain.Services/obj
/ExpenseControl.Domain.Services/bin/Debug/net6.0
/ExpenseControl.Data/obj
/ExpenseControl.Data/bin/Debug/net6.0
/ExpenseControl.Test/obj
/ExpenseControl.Test/bin/Debug/net6.0
/ExpenseControl.API/bin/Release/net6.0
/ExpenseControl.API/.config
/ExpenseControl.Application/bin/Release/net6.0
/ExpenseControl.CrossCutting/bin/Release/net6.0
/ExpenseControl.Data/bin/Release/net6.0
/ExpenseControl.Domain/bin/Release/net6.0
/ExpenseControl.Domain.Services/bin/Release/net6.0
/ExpenseControl.Infra/bin/Release/net6.0
/ExpenseControl.API/aws-lambda-tools-defaults.json
/ExpenseControl.API/Properties/launchSettings.json
